In [6]:
import pandas as pd

/tmp/ipykernel_5651/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [14]:
f = pd.read_csv('emp.csv')

In [15]:
f.head(10)

  employee   hire_date  salary  sick_days
0    Alice  2023-01-10   36046         11
1      Bob  2022-06-15   75332         11
2  Charlie  2024-02-01   65106          6
3    David  2023-09-22   57310         12
4      Eve  2022-12-05   69912         12
5    Frank  2021-05-18   46892          6
6    Grace  2024-01-25   47580          8
7    Henry  2023-04-07   65607          8
8     Isla  2022-11-19   63621          6
9     Jack  2021-08-12   58271         13

In [16]:
print(f)

  employee   hire_date  salary  sick_days
0    Alice  2023-01-10   36046         11
1      Bob  2022-06-15   75332         11
2  Charlie  2024-02-01   65106          6
3    David  2023-09-22   57310         12
4      Eve  2022-12-05   69912         12
5    Frank  2021-05-18   46892          6
6    Grace  2024-01-25   47580          8
7    Henry  2023-04-07   65607          8
8     Isla  2022-11-19   63621          6
9     Jack  2021-08-12   58271         13